html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/** Typefaces: PT Sans (bold), PT Serif (regular, italic, bold) — from Google Fonts
Text sizes: 1.5rem, 1.125rem, 0.8rem
Line height: 1.5
Colours: #c9b5ab, #8f2440, #222, #3f1622 **/

h1 {
  font-family: 'PT Sans', serif;
  color: #3f1622;
}

header {
  background-color: #c9b5ab;
  padding: 1rem;
}

main {
  background-color: #c9b5ab;
  padding: 1rem;
}

nav ol {
  list-style-type: none;
  font-family: 'PT Sans', serif;
  font-size: 1.125rem;
}
