html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/** Typefaces: PT Sans (bold), PT Serif (regular, italic, bold) — from Google Fonts
Text sizes: 1.5rem, 1.125rem, 0.8rem
Line height: 1.5
Colours: #c9b5ab, #8f2440, #222, #3f1622 **/

img {
  width: 100%;
  align-items: center;
}

figcaption {
  font-family: "PT Serif", serif;
  font-size: 1.125rem;
  font-style: italic;
  text-align: center;
}

h1 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  color: #3f1622;
}

header {
  background-color: #c9b5ab;
}

main {
  background-color: #c9b5ab;
  padding: .8rem;
}

.first-paragraph {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 2.5rem;
}

nav ol {
  list-style-type: none;
  text-decoration: none;
}

nav a {
  list-style-type: none;
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
  color: #8f2440;
}

a {
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: none;
}

footer a {
  color: #8f2440;
  text-decoration: none;
}

b {
  font-weight: bold;
}

.cite {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-size: 1.5rem;
  padding: 1rem;
}

strong {
  font-weight: normal;
}

h2 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
}

footer {
  background-color: #c9b5ab;
  padding: .8rem;
}
